/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.textFontBig{
  font-weight: bold;
  font-size: 30px;
}


.textFontBold{
  font-weight: bold;
  font-size: 15px;
}

.textfontSmall{
  font-size: 15px;
}

* {
  font-family:  Verdana, Arial, Helvetica, sans-serif
}

.container {
  padding: 16px;
  min-width: 1200px;
  max-width: 1400px;
}


.success-snackbar {
  background: #23302c;
  white-space: pre-wrap
}